* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", sans-serif;
}

html {
  font-size: 62.5%;
  vertical-align: baseline;
}

body {
  width: 100vw;
  height: 100%;
}

/* Demo - 1095px x 1010px */

/* Hero */

.header {
  position: relative;
  height: 62vh;
  min-width: 100%;
  background: url("images/desktop/image-header.jpg") no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 80%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 3rem;
  z-index: 1;
}

.nav-links {
  align-items: center;
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
}

.title {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 5.2rem;
  letter-spacing: 0.5rem;
  margin-top: 3rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.arrow {
  scale: 0.8;
  position: absolute;
  right: 49%;
  top: 38%;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.nav-link:last-child {
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 10rem;
  text-transform: uppercase;
}

/* Features & Images */

/* FIXME / REMINDER: Fix Underlines (Learn-More, change Position = relative), Sort Out Media Queries & Sizing, Upped rows to 50vh - Needs checking with the rest of the changes */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh 50vh;
}

.feature {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 12rem;
}

.feature-heading {
  font-size: 4rem;
  color: hsl(212, 27%, 19%);
}

.feature-text {
  line-height: 1.6;
  margin-top: 2rem;
  font-size: 2rem;
  color: hsl(213, 9%, 39%, 0.7);
}

.features-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30rem;
  gap: 2rem;
}

.feature-heading-bottom {
  font-size: 2.6rem;
  font-weight: 900;
}

.graphic {
  color: hsl(167, 40%, 24%);
}

.photography {
  color: hsl(198, 62%, 26%);
}

.feature-text-bottom {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.learn-more {
  display: flex;
  margin-top: 4rem;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1rem;
}

.underline {
  position: absolute;
  width: 20%;
  height: 1rem;
  border-radius: 2rem;
  right: 0;
  opacity: 0.3;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.underline-yellow {
  bottom: 13%;
  left: 16%;
  background-color: hsl(51, 100%, 49%);
}

.underline-red {
  bottom: 7%;
  left: 16%;
  background-color: hsl(7, 99%, 70%);
}

.underline-red:hover {
  opacity: 1;
}

.egg {
  background: url("images/desktop/image-transform.jpg") no-repeat;
  background-position: left;
  background-size: cover;
}

.lamp {
  background: url("images/desktop/image-stand-out.jpg") no-repeat;
  background-position: right;
  background-size: cover;
}

.cherry {
  background: url("images/desktop/image-graphic-design.jpg") no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.oranges {
  background: url("images/desktop/image-photography.jpg") no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

/* Client Testimonials */

.testimonials {
  height: 50vh;
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 6rem 9rem 0 9rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.testimonial-heading {
  color: hsl(213, 9%, 39%, 0.5);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
}

.testimonial-img {
  height: 30%;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.testimonial-text {
  text-align: center;
  font-size: 1.8rem;
  color: hsl(213, 9%, 39%);
  margin-bottom: 6rem;
  line-height: 1.6;
}

.testimonial-author {
  font-size: 2rem;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  margin-bottom: 1rem;
}

.testimonial-job {
  font-size: 1.4rem;
  color: hsl(213, 9%, 39%, 0.5);
}

/* Gallery */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-img {
  width: 25vw;
}

/* Footer */
.footer {
  font-size: 1.6rem;
  color: hsl(168, 34%, 41%);
  height: 30vh;
  background-color: hsl(167, 44%, 70%);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.footer-logo {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 4rem;
}

.footer-links {
  display: flex;
  gap: 5rem;
}

.footer-link {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}

.social-links {
  display: flex;
  gap: 2rem;
  margin-top: 8rem;
}

/* Media Queries - (1650 x 1295) */

/* 1920px x 1080px */

@media (max-width: 1920px) {
  .features {
    grid-template-rows: 60vh 60vh 60vh;
  }

  .learn-more {
    font-size: 2.4rem;
  }

  .features-bottom {
    margin-top: 40rem;
  }

  .feature-text-bottom {
    font-size: 2.4rem;
  }

  .feature-heading-bottom {
    font-size: 4.2rem;
  }

  .feature-heading {
    font-size: 5.4rem;
  }

  .feature-text {
    font-size: 2.8rem;
  }
}

/* Large Laptop - 1440px */

@media (max-width: 1440px) {
  .features {
    grid-template-rows: 50vh 50vh 50vh;
  }

  .feature-heading {
    font-size: 4.4rem;
  }

  .feature-text {
    font-size: 2rem;
  }

  .features-bottom {
    margin-top: 32rem;
  }

  .feature-heading-bottom {
    font-size: 2.8rem;
  }

  .feature-text-bottom {
    font-size: 2rem;
  }

  .cherry {
    margin-left: 0;
  }

  .oranges {
    margin-right: 0;
  }
}

/* Laptop */
@media (max-width: 1095px) {
  .title {
    margin-top: 5rem;
  }

  .arrow {
    right: 48%;
    top: 44%;
  }

  .feature {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 12rem;
  }
}
